*{
    padding: 0;
    margin: 0;
}
header{
    background-image: url(../img/fondo_header.jpeg);
}
.header_logo{
    margin-left:50px;
}

.header_logo img {
    max-width: 180px;
    filter: invert(100%);
}
.header_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}

.header_right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    gap:30px;
}

.header_right img{
    max-width: 40px;
    filter: invert(100%);
    width: 50%;
    height:50%;
}
.header_right img:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
.header_middle{
    display: flex;
    align-items: center;
}
#search-bar {
    width: 500px; /* Ancho de la barra de búsqueda */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    outline: none;
}
